.tracking-button {
  position: absolute;
  bottom: 95px;
  right: 68px;
  width: 50px; 
  height: 50px;
  background-color: transparent; 
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1000;
}

.tracking-button img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: hue-rotate(0deg);
}

.tracking-button.on img {
  background-color: transparent;
}

input:checked + .tracking-button img {
  transform: scale(1.1); 
}


@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.6);
    opacity: 0.4;
  }
  80% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
